<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {{ active == 'speaker' ? 'active' : '' }}" href="/"><i class="ti ti-user me-1"></i>Sprecher</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ active == 'profile' ? 'active' : '' }}" href="/?controller=app&view=show_profiles"><i class="ti ti-users me-1"></i>Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled {{ active == 'embedding' ? 'active' : '' }}" href="/?controller=embedding&view=index"><i class="ti ti-math me-1"></i>Vektoren</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ active == 'protocol' ? 'active' : '' }}" href="#"><i class="ti ti-list me-1"></i>Protokolle</a>
    </li>
</ul>