<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/app.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
</head>
<body>
<nav class="border-bottom bg-secondary-subtle">
    <div class="container-fluid g-3">
        <div class="d-flex justify-content-between align-items-center">
            <ul class="nav navbar-nav d-flex flex-row gap-3">
                <li class="nav-item navbar-text fw-bold"><i class="ti ti-analyze me-1"></i>Protokoll-DB</li>
                <li class="nav-item">
            </ul>
            <ul class="nav navbar-nav d-flex flex-row gap-3">
                <li class="nav-item">
                    <a class="nav-link" href="/">Hilfe</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<main class="container-fluid">
    {% block body %}{% endblock %}
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>